{% extends "sisalto/base.html" %}
{% block title %}Radiologian alisivut{% endblock %}
{% block content %}
    <h1>Radiologian alisivut</h1>
    <ul>
        <li><a href="/radiologia/lapivalaisu-angiografia/">Läpivalaisu ja angiografia (ml kardiologia)</a></li>
        <li><a href="/radiologia/magneettikuvaus/">Magneettikuvaus</a></li>
        <li><a href="/radiologia/mammografia/">Mammografia</a></li>
        <li><a href="/radiologia/natiivikuvantaminen/">Natiivikuvantaminen</a></li>
        <li><a href="/radiologia/tietokonetomografia/">Tietokonetomografia</a></li>
        <li><a href="/radiologia/ultraaani/">Ultraääni</a></li>
        <li><a href="/radiologia/kuvankatselunaytot/">Kuvankatselunäytöt</a></li>
        <li><a href="/radiologia/hammaskuvantaminen/">Hammas­kuvantaminen</a></li>
        <li><a href="/radiologia/sateilybiologia-suojelu/">Säteilybiologia ja säteily­suojelu radiologiassa</a></li>
    </ul>
{% endblock %}
{% block toc %}
    <li>Radiologian alisivut</li>
    <li>Läpivalaisu ja angiografia</li>
    <li>Magneettikuvaus</li>
    <li>Mammografia</li>
    <li>Natiivikuvantaminen</li>
    <li>Tietokonetomografia</li>
    <li>Ultraääni</li>
    <li>Kuvankatselunäytöt</li>
    <li>Hammas­kuvantaminen</li>
    <li>Säteilybiologia ja säteily­suojelu radiologiassa</li>
{% endblock %}
